//- HELPERS ----------------------------------------------- //

.text-left
  text-align: left

.center
  text-align: center

.text-right
  text-align: right

.hidden,
.hide
  display: none

.center-vert
  display: flex
  align-items: center
  justify-content: center

.mt2
  margin-top: 40px