//- MIXINS ----------------------------------------------- //

//- -----------------------
//- Triangle shapes
//- -----------------------

//- triangle (up/down)
$triangle($width)
  border-left: $width solid transparent
  border-right: $width solid transparent

//- triangle (left/right)
$arrow($width)
  border-bottom: $width solid transparent
  border-top: $width solid transparent

//- -----------------------
//- Gradients
//- -----------------------

//- half shadow left to right
$half-shadow = linear-gradient(to right, black(0) 50%, black(.1) 50%)

//- left to right, 50 percent
$halfsies($color1,$color2)
  background-color: $color1
  background-image: linear-gradient(90deg, $color1 50%,$color2 50%,$color2)