//- VARIABLES ----------------------------------------------- //

//- Font Families
$font-tisa-serif = 'ff-tisa-web-pro', Georgia, Times, serif
$font-tisa-sans = 'ff-tisa-sans-web-pro', Helvetica, Arial, sans-serif

//- Font Weights
$font-weight-normal = 400
$font-weight-bold = 700

//- Media Queries
$screen-xsmall = 'screen and (max-width: 420px)'
$screen-small = 'screen and (max-width: 729px)'
$screen-large = 'screen and (min-width: 730px)'
$screen-xlarge = 'screen and (min-width: 900px)'

//- Drop Shadows
$shadow = rgba(0,0,0,.13)
$shadow-tall =  8px 8px $shadow
$shadow-short = 4px 4px $shadow