//- SOCIAL FEED SECTION ----------------------------------------------- //

.contribute
  padding: 40px 30px 30px

  @media $screen-medium
    padding: 60px 30px

  h2
    margin-bottom: 40px

  h3
    margin-bottom: 30px

  p
    max-width: 500px
    margin: 0 auto 30px