//- CONTRIBUTE PAGE ----------------------------------------------- //

.contributors-list
  max-width: 500px
  margin: 30px auto

  .contributor
    box-sizing: border-box
    width: 25%
    padding: 8px
    float: left

    @media $screen-medium
      width: 20%

    a
      display: block
      position: relative

      &:hover
        border: none

      img
        width: 100%
        margin: 0
        border-radius: 5px


