//- FLAG DEMO ----------------------------------------------- //

.flag-demo
  background: $pale-blue
  padding: 30px 30px 90px

  .icon
    position: relative
    left: 50%
    margin-left: -150px
    margin-bottom: 30px