//- HISTORY SECTION ----------------------------------------------- //

.history
  background: $brown-drk

  //- Polaroid white bg
  &:before
    $draw(80px,100px)
    $place(-40px,-60px)
    $halfsies($white,$grey-e)
    box-shadow: $shadow-short

  //- Picture area
  &:after
    $draw(70px,70px)
    $place(-35px,-55px)
    background: $grey-3

//- Heart valentine
.heart

  //- Shadow
  &:after
    $draw(70px,120px)
    $place(-20px,8px)
    background: $brown-shadow
    border-radius: 40px 40px 0 0
    $rotate(45deg)

  .icon-img
    $place(0,0)
    z-index: 2

    //- Left side
    &:before
      $draw(70px,120px)
      $place(-58px,0)
      background: $red-light
      border-radius: 40px 40px 0 0
      $rotate(-45deg)

    //- Right side
    &:after
      $draw(70px,120px)
      $place(-22px,0)
      $gradient-var(45deg,45deg,36%,$red-light,$red)
      border-radius: 40px 40px 0 0
      $rotate(45deg)

//- Cowboy hat
.cowboy

  //- Main hat part
  &:before
    $draw(40px,110px)
    $place(-40px,0)
    background: $orange
    border-radius: 30px 30px 0 0
    box-shadow: 40px 0   $orange-shadow,
                 8px 8px $brown-shadow,
                48px 8px $brown-shadow

  //- Band
  .icon-img
    $draw(80px,20px)
    $place(-40px,90px)
    $halfsies($navy-blue,$navy-blue-drk)
    z-index: 2

    //- Brim shape
    &:before, &:after
      $draw(135px,20px)
      $place(-77px,-10px)
      border-radius: 20px
      clip: rect(20px,155px,40px,0)

    //- Brim shadow
    &:before
      $place(-69px,-2px)
      border: 10px solid $brown-shadow

    //- Brim
    &:after
      $place(-77px,-10px)
      border: 10px solid $orange

//- London bridge
.bridge

  //- Bridge body
  &:before
    $draw(170px,70px)
    $place(-85px,40px)
    $gradient-bottom(25%,$grey-c,$grey-a)
    box-shadow: $shadow-tall

  //- Arches
  &:after,
  .icon-img,
  .icon-img:before,
  .icon-img:after
    $draw(28px,48px)
    background: $brown-drk
    border-radius: 50% 50% 0 0
    box-shadow: inset $shadow-tall

  &:after
    $place(-73px,70px)
  .icon-img
    $place(-33px,70px)
    &:before
      $place(25px,0)
    &:after
      $place(64px,0)

//- Road sign
.sign

  //- Post
  &:before
    $draw(20px,130px)
    $place(-10px,0)
    $halfsies($gold,$gold-drk)
    box-shadow: $shadow-tall

  //- Main sign part
  &:after
    $draw(80px,0)
    $place(-60px,15px)
    border-bottom: 20px solid $tan-drk
    border-left: 20px solid transparent
    border-top: 20px solid $tan
    box-shadow: $shadow-tall

  //- Sign point shadow
  .icon-img
    $place(48px,23px)
    $arrow(20px)
    border-left: 20px solid $shadow
    z-index: 2
    &:before, &:after
      $place(-28px,-28px)
      $arrow(20px)

    //- Sign point light
    &:before
      border-left: 20px solid $tan

    //- Sign point dark
    &:after
      border-left: 20px solid $tan-drk
      clip: rect(20px,20px,40px,0)