//- INTRO SECTION ----------------------------------------------- //

.intro
  padding-bottom: 200px
  background: $pale-blue

  @media $screen-small
    padding: 40px 0 110px

  h1
    color: $navy-blue

//- Featured section
.featured
  max-width: 500px
  margin: 30px auto 0
  padding: 0 20px

  header
    margin-bottom: 20px
    position: relative
    border-top: 1px solid $shadow
    font-style: italic
    font-family: Georgia, Times, sans-serif

    span
      padding: 5px 12px
      display: inline-block
      position: relative
      top: -15px
      background: $pale-blue

  h2
    margin-bottom: 30px

  p
    font-size: 18px
    line-height: 24px

    @media $screen-medium
      font-size: 22px
      line-height: 30px

  .footnote
    margin: 40px 0
    border-top: 1px solid $shadow