//- SCIENCE SECTION ----------------------------------------------- //

.science
  background: $navy-blue-drk

  //- Test tube
  &:before
    $draw(20px,90px)
    $place(-10px,-50px)
    $gradient-bottom(40%,rgba(255,255,255,.1),$yellow-green-drk)
    border: 2px solid $white
    border-top-width: 1px
    border-radius: 0 0 20px 20px
    box-shadow: $shadow-short

  //- Bubbles
  &:after
    $draw(10px,10px)
    $place(10px,-80px)
    background: $yellow-green
    border-radius: 50%
    box-shadow:            $shadow-short,
                15px -10px $yellow-green,
                19px  -6px $shadow,
                 8px -35px $yellow-green,
                12px -31px $shadow

//- Pluto
.pluto

  //- Planet circle
  &:before
    $draw(100px,100px)
    $place(-50px,20px)
    $halfsies($grey-d,$grey-c)
    border-radius: 50%
    box-shadow: $shadow-tall

  //- Planet ring
  .icon-img
    $draw(160px,25px)
    $place(-80px,60px)
    border: 1px solid rgba(255,255,255,.15)
    border-radius: 50%

    //- Sign
    &:before
      $draw(70px,auto)
      $place(10px,-50px)
      padding: 5px
      content: "Don't forget me!" !important
      background: $yellow
      box-shadow: $shadow-short
      font-family: $font-family-brandon
      font-size: 10px
      font-weight: 700
      text-transform: uppercase
      line-height: 13px
      color: $grey-3
      z-index: 2
      $rotate(20deg)

    //- Sign post
    &:after
      $draw(4px,40px)
      $place(35px,-30px)
      background: $brown-light
      box-shadow: $shadow-short
      $rotate(20deg)

//- Mars
.mars

  //- Planet
  &:before
    $draw(100px,100px)
    $place(-50px,20px)
    $halfsies($red,$red-drk)
    border-radius: 50%
    box-shadow: $shadow-tall

  //- Planet ring
  .icon-img
    $draw(160px,25px)
    $place(-80px,60px)
    border: 1px solid rgba(255,255,255,.15)
    border-radius: 50%

//- Telescope
.telescope

  //- Farthest left piece
  &:before
    $draw(8px,25px)
    $place(-75px,60px)
    background: $orange-shadow
    box-shadow: $shadow-tall

  &:after
    $draw(30px,20px)
    $place(-67px,63px)
    background: $grey-c
    box-shadow: $shadow-tall

  .icon-img
    $draw(40px,30px)
    $place(-37px,58px)
    background: $brown-light
    box-shadow: $shadow-tall
    z-index: 2

    &:before
      $draw(60px,41px)
      $place(20px,-6px)
      background: $brown-drk
      box-shadow: $shadow-tall

    &:after
      $draw(8px,47px)
      $place(80px,-9px)
      background: $grey-a
      box-shadow: $shadow-tall

//- Biosphere
.biosphere

  //- Dome
  &:after
    $draw(140px,70px)
    $place(-70px,30px)
    $halfsies(rgba(255,255,255,.08),rgba(255,255,255,.12))
    border: 5px solid $white
    border-bottom: none
    border-radius: 80px 80px 0 0
    box-shadow: $shadow-tall

  //- Tree trunks
  .icon-img
    $draw(4px,16px)
    $place(-44px,90px)
    background: $brown
    box-shadow: 30px 0 $brown,
                60px 0 $brown,
                90px 0 $brown,
                15px 0 $brown-drk,
                45px 0 $brown-drk,
                75px 0 $brown-drk

    //- Tree tops
    &:before
      $draw(20px,20px)
      $place(-10px,-15px)
      background: $green
      border-radius: 50%
      box-shadow: 30px 0 $green,
                  60px 0 $green,
                  90px 0 $green,
                  15px 0 $green-drk,
                  45px 0 $green-drk,
                  75px 0 $green-drk