//- SOCIAL FEED SECTION ----------------------------------------------- //

.community
  background: $pale-blue
  padding: 40px 30px 30px

  @media $screen-medium
    padding: 60px 30px

  h2
    margin-bottom: 40px

.social-feed-container
  width: 100%
  box-sizing: border-box
  padding: 0 20px
  background: $pale-blue

  .social-feed-element
    max-width: 550px
    margin: 30px auto
    box-shadow: $shadow-tall

    &:hover
      box-shadow: $shadow-tall

    @media $screen-medium
      margin: 50px auto

    a:hover
      text-decoration: none

    a.pull-left

      &:hover
        border: none

