//- Thanks ----------------------------------------------- //

.thanks
  height: calc(100vh - 40px)

  .flex-container
    height: 100%
    margin: 0

    .flex-1of1
      align-items: center

      p
        margin-bottom: 10px
