//- WHYAZ SECTION ----------------------------------------------- //

.whyaz
  background: $grey-3
  color: $white

  a
    color: $blue-grey

  h2
    margin-bottom: 50px

  .flag
    $place(-150px,-115px)
    position: absolute
    left: 50%
    $scale(.5)

  .siteContent
    max-width: 700px
    text-align: left

  .copy
    margin-bottom: 35px

//- Social share links
.social
  margin-top: 60px
  text-align: center

//- Thought bubble
.share
  width: 200px
  margin: 0 10px
  padding: 12px
  position: relative
  display: inline-block
  border-radius: 100px 50px 70px 70px / 50px 40px 50px 70px
  box-shadow: $shadow-tall
  font-family: $font-family-brandon
  font-weight: $font-weight-bold
  font-size: 16px
  line-height: 20px
  color: $grey-3 !important
  text-transform: uppercase

  @media $screen-medium
    width: 100px

  //- Triangle shadow
  &:before
    {$pseudo}
    $triangle(10px)
    border-top: 10px solid $shadow
    bottom: -18px

  //- Triangle
  &:after
    {$pseudo}
    $triangle(10px)
    border-top: 10px solid
    bottom: -10px

  &:hover
    border: none

//- Facebook
.facebook
  margin-bottom: 25px
  background: $yellow

  @media $screen-medium
    margin-bottom: 0

  //- Triangle shadow
  &:before
    margin-left: 148px

    @media $screen-medium
      margin-left: 60px

  //- Triangle
  &:after
    margin-left: 140px
    border-top-color: $yellow

    @media $screen-medium
      margin-left: 52px

//- Twitter
.twitter
  background: $sky-blue

  //- Triangle shadow
  &:before
    margin-left: 38px

  //- Triangle
  &:after
    border-top-color: $sky-blue
    margin-left: 30px


//- meltmedia section
.meltmedia
  margin: 150px 0 40px
  border-top: 1px dotted lighten($grey-3,10%)
  font-size: 16px
  font-weight: normal
  line-height: 24px
  text-align: center
  color: $grey-a

  .icon
    max-width: 550px
    margin: 0 auto
    padding-top: 40px

//- meltmedia logo
.melt-logo

  //- Logo circle
  &:before
    $draw(60px,60px)
    $place(-30px,-40px)
    background: $blue-grey
    border-radius: 50%
    box-shadow: $shadow-tall

  //- Half color
  &:after
    $draw(30px,60px)
    $place(0,-40px)
    background: $shadow
    border-radius: 0 30px 30px 0

  .icon-img
    $draw(8px,7px)
    $place(-16px,-15px)
    background: $white
    box-shadow: 8px 14px $white
    $rotate(-60deg)

    &:before
      $draw(7px,7px)
      $place(-3px,-6px)
      background: $blue-grey
      border-radius: 50%
      box-shadow: 0   12px $blue-grey,
                  8px 14px $blue-grey,
                  8px 26px $blue-grey

    &:after
      $draw(13px,13px)
      $place(-14px,-3px)
      background: $white
      border-radius: 50%
      box-shadow: 16px  0   $white,
                   8px 14px $white,
                  24px 14px $white,
                  16px 28px $white

//- References
.references
  font-size: 13px
  line-height: 18px
  text-align: center
  color: $grey-a

  .copy
    margin-bottom: 20px

.references-list

  a
    color: $grey-a