doctype html
html(lang="en")

  //- Variable block for page-specific info
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title WhyAZ - #{title}
    meta(name="description", content="#{description}")
    link(rel="stylesheet", href="/public/css/main.css")

    meta(property="og:site_name", content="WhyAZ")
    meta(property="og:url", content="http://why.az")
    meta(property="og:description", content="WhyAZ is community-built and explores the things that make Arizona an awesome place to live and work. Join us and share what you love with #whyaz.")
    meta(property="og:image", content="http://why.az/images/facebook-whyaz.png")
    meta(property="og:app_id", content="213627328831811")
    meta(property="og:type", content="website")

    script(src="//use.typekit.net/ivx3zwe.js")
    script try{Typekit.load();}catch(e){}

  body

    nav.site-nav
      .container.clearfix
        a.nav-link.logo(href="/") WhyAZ
        a.nav-link(href="/contribute") Contribute
        a.nav-link(href="/community") Community
        .flag
          .flag-stripes--left
          .flag-stripes--right
          .flag-star

    .ribbon
      a.fork-me(href="https://github.com/whyaz/whyaz") Fork me on GitHub

    block content

    include includes/ga.html