doctype html
html(lang="en")

  //- Variable block for page-specific info
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title WhyAZ - #{title}
    meta(name="description", content="#{description}")

    meta(property="og:site_name", content="WhyAZ")
    meta(property="og:url", content="https://why.az")
    meta(property="og:description", content="WhyAZ is community-built and explores the things that make Arizona an awesome place to live and work. Join us and share what you love with #whyaz.")
    meta(property="og:image", content="https://why.az/images/facebook-whyaz.png")
    meta(property="og:app_id", content="213627328831811")
    meta(property="og:type", content="website")


  body(class=bodyClass)

    if bodyClass !== 'weather'
      nav.nav-main
        .nav-link-group
          h1
            a.nav-link(href="/") WhyAZ
            span.description Reasons to live and work in Arizona.
        .nav-link-group
          a.nav-link(href="/community/") Community
          a.nav-link(href="/contribute/") Contribute
          a.nav-link(href="/weather") Weather

    block content

    link(rel="stylesheet", href="/public/css/main.css")
    if bodyClass == 'home'
      link(rel='stylesheet', href='/public/css/home.css')
    else
      link(rel='stylesheet', href='/public/css/main.css')
    script(src="//use.typekit.net/lxz5yej.js")
    script try{Typekit.load({ async: true });}catch(e){}
    include includes/ga.html
