//- ALUMNI SECTION ----------------------------------------------- //

.alumni
  background: $yellow

  a
    color: $grey-3

  //- License body
  &:before
    $draw(100px,70px)
    $place(-55px,-50px)
    $gradient-bottom(25%,$pale-blue,$gold)
    border: 5px solid $white
    border-radius: 3px
    box-shadow: $shadow-short

  //- Photo
  &:after
    $draw(25px,25px)
    $place(20px,-6px)
    background: $blue-grey-drk

//- Yearbook
.yearbook

  //- Yearbook body
  &:before
    $draw(198px,143px)
    $place(-99px,0)
    $gradient-right(51%,$grey-c,$grey-a)
    box-shadow: $shadow-tall

  //- Pages
  &:after
    $draw(180px,125px)
    $place(-90px,4px)
    $halfsies($white,$grey-e)
    box-shadow: 0 3px 0 2px rgba(255,255,255,.60)

  //- Photo boxes
  .icon-img
    $draw(30px,35px)
    $place(-80px,14px)
    background: $sky-blue
    box-shadow:  40px  0   $sky-blue,
                  0   45px $sky-blue,
                 40px 45px $sky-blue,
                 90px  0   $sky-blue-shadow,
                130px  0   $sky-blue-shadow,
                 90px 45px $sky-blue-shadow,
                130px 45px $sky-blue-shadow
    z-index: 2

    //- Tshirts
    &:before
      $draw(30px,10px)
      $place(-15px,25px)
      background: $red
      box-shadow:  40px  0   $navy-blue,
                    0   45px $blue-grey,
                   40px 45px $yellow-green,
                   90px  0   $brown,
                  130px  0   $grey-6,
                   90px 45px $gold,
                  130px 45px $pink

    //- Faces
    &:after
      $draw(20px,20px)
      $place(-10px,7px)
      background: $gold
      border-radius: 50%
      box-shadow:  40px  0   $orange,
                    0   45px $orange,
                   40px 45px $brown,
                   90px  0   $orange,
                  130px  0   $brown,
                   90px 45px $orange,
                  130px 45px $gold