//- EDUCATION SECTION ----------------------------------------------- //

.education
  background: $teal

  //- Notebook
  &:before
    $draw(74px,94px)
    $place(-37px,-54px)
    background: $grey-4
    border-radius: 0 3px 3px 0
    box-shadow: 1px 1px 0 1px $grey-c,
                6px 6px       $shadow

  //- Notebook ribbon
  &:after
    $draw(4px,94px)
    $place(20px,-54px)
    background: $grey-2

//- Arizona State University
.godevils

  //- Top vertical bars
  &:before
    $draw(16px,50px)
    $place(-8px,20px)
    $halfsies($yellow,$yellow-drk)
    box-shadow:           $shadow-tall,
                -45px 0   $yellow,
                -37px 8px $shadow,
                 45px 0   $yellow-drk,
                 53px 7px $shadow
    z-index:2

  //- Bottom vertical bar
  &:after
    $draw(16px,55px)
    $place(-8px,85px)
    $halfsies($yellow,$yellow-drk)
    box-shadow: $shadow-tall
    z-index: 3

  //- Triangle point shadow
  .icon-img
    $place(-7px,8px)
    $triangle(15px)
    border-bottom: 20px solid $teal-shadow

    //- Triangle point
    &:before
      $place(-23px,-8px)
      $triangle(15px)
      border-bottom: 20px solid $yellow

    //- Horizontal bar
    &:after
      $draw(106px,16px)
      $place(-61px,61px)
      $halfsies($yellow,$yellow-drk)
      box-shadow: $shadow-tall
      z-index: 3

//- Individual paw toes
$paw($left,$top)
  $draw(35px,50px)
  $place($left,$top)
  background: $teal-shadow
  border-radius: 80px 65px 70px 70px / 100px 100px 70px 70px
  box-shadow: inset $shadow-short

//- University of Arizona
.beardown

  //- Palm
  &:before
    $draw(100px,80px)
    $place(-50px,65px)
    background: $teal-shadow
    border-radius: 100px 50px 70px 70px / 50px 40px 50px 70px
    box-shadow: inset -4px -4px $shadow
    $rotate(180deg)

  &:after
    $paw(-75px,25px)
  .icon-img
    $paw(-35px,5px)
    &:before
      $paw(22px,5px)
    &:after
      $paw(60px,30px)


//- Thunderbird
.thunderbird

  //- Blue circle
  &:before
    $draw(140px,140px)
    $place(-70px,0)
    background: $blue-grey-drk
    border-radius: 50%
    box-shadow: $shadow-tall

  //- Bird's head
  &:after
    $place(-16px,30px)
    $arrow(10px)
    border-right: 20px solid $white

  //- Body
  .icon-img
    $draw(80px,20px)
    $place(-40px,50px)
    background: $white

    //- Wings
    &:before
      $draw(12px,10px)
      $place(-40px,20px)
      background: $white
      box-shadow: 12px 0    $white,
                  56px 0    $white,
                  68px 0    $white,
                   0   10px $white,
                  68px 10px $white

    //- Tail
    &:after
      $place(-20px,18px)
      $triangle(20px)
      border-bottom: 40px solid $white

//- Northern Arizona University
.nau

  //- Shield
  &:before
    $draw(110px,125px)
    $place(-55px,0)
    background: $navy-blue
    border: 3px solid $white
    border-bottom-right-radius: 50% 30%
    border-bottom-left-radius: 50% 30%
    box-shadow: $shadow-tall

  //- Vertical stripe
  &:after
    $draw(10px,125px)
    $place(0,3px)
    background: $white

  //- Tree branch bottom
  .icon-img
    $draw(68px,68px)
    $place(-40px,0)
    border: 10px solid $white
    clip: rect(18px,90px,90px,20px)
    $rotate(45deg)

    //- Tree branch middle
    &:before
      $draw(68px,68px)
      $place(-65px,-32px)
      border: 10px solid $white

    //- Tree branch top
    &:after
      $draw(68px,68px)
      $place(-86px,-54px)
      border: 10px solid $white