//- INSPIRATION SECTION ----------------------------------------------- //

.inspire
  background: $umber

  //- Thought bubble
  &:before
    $draw(20px,20px)
    $place(-45px,25px)
    background: $white
    border-radius: 50%
    box-shadow:                   $shadow-short,
                35px -85px 0 10px $white,
                35px -53px 0 10px $white,
                 5px -70px 0 10px $white,
                65px -70px 0 10px $white,
                 0   -40px 0 10px $white,
                70px -40px 0 10px $white,
                35px -28px 0 10px $white,
                69px -66px 0 10px $shadow,
                 4px -36px 0 10px $shadow,
                74px -36px 0 10px $shadow,
                39px -24px 0 10px $shadow
    z-index: 2

//- Painting
.painting

  //- Hanging wire
  &:before
    $draw(25px,25px)
    $place(-13px,0)
    border: 2px solid $grey-4
    $rotate(45deg)

  //- Half color
  &:after
    $draw(70px,110px)
    $place(0,13px)
    background: $shadow

  //- Painting and frame
  .icon-img
    $draw(100px,70px)
    $place(-70px,13px)
    background: $pale-blue
    border: 20px solid $gold
    box-shadow: $shadow-tall
    &:before // grass
      $draw(100px,40px)
      $place(-50px,30px)
      $gradient-bottom(30%,$yellow,$green)

    //- Haystacks
    &:after
      $draw(15px,20px)
      $place(15px,18px)
      background: $gold-light
      border-radius: 20px 20px 0 0
      box-shadow: -45px 8px 0 6px $gold-light

//- Vector path
.path

  //- Circle
  &:before
    $draw(120px,120px)
    $place(-61px,10px)
    $halfsies(transparent,darken($tan,17%))
    border: 1px solid $tan
    border-radius: 50%

  //- Anchors
  &:after
    $draw(4px,4px)
    $place(-2px,8px)
    background: $tan
    box-shadow: -61px 60px  $tan,
                  0   60px  $tan,
                 61px 60px  $tan,
                  0   122px $tan

  //- Tangent lines
  .icon-img
    $draw(80px,1px)
    $place(-40px,9px)
    background: $tan
    box-shadow: 0 123px $tan

    &:before
      $draw(1px,80px)
      $place(-62px,21px)
      background: $tan
      box-shadow: 123px 0 $tan

    //- Handles
    &:after
      $draw(5px,5px)
      $place(-45px,-2px)
      background: $tan
      border-radius: 50%
      box-shadow:  85px   0   $tan,
                  -19px  18px $tan,
                  104px  18px $tan,
                  -19px 103px $tan,
                  104px 103px $tan,
                    0   123px $tan,
                   85px 123px $tan

//- Terminal window
.code

  //- Window
  &:before
    $draw(140px,100px)
    $place(-70px,10px)
    background: $grey-3
    border-top: 5px solid $grey-b
    box-shadow: $shadow-tall

  //- Half color
  &:after
    $draw(70px,105px)
    $place(0,10px)
    background: $shadow

  //- Green code
  .icon-img
    $draw(20px,4px)
    $place(-62px,26px)
    border: 2px dotted $yellow-green-drk
    border-left: none
    border-right: none

    //- White code
    &:before
      $draw(46px,4px)
      $place(15px,-2px)
      border: 2px dotted $white
      border-left: none
      border-right: none

//- Match
.match

  //- Flame
  &:before
    $draw(50px,50px)
    $place(-25px,0)
    $gradient-var(-45deg,135deg,50%,$orange,$yellow)
    border-radius: 50% 0 50% 50%
    box-shadow: 2px 9px $shadow
    $rotate(-45deg)

  //- Wick
  &:after
    $draw(26px,30px)
    $place(-13px,22px)
    $halfsies($red,$red-drk)
    border-radius: 50%

  //- Stick
  .icon-img
    $draw(18px,90px)
    $place(-9px,40px)
    $halfsies($tan-light,$tan)
    box-shadow: 8px 8px $umber-shadow