//- BRIDGE SIGN ----------------------------------------------- //

.bridge
  width: 160px
  height: 70px
  margin-left: -(@width/2)
  top: 80px
  $halfsies($green-light,$green)
  border-radius: 3px
  border: 5px solid $green-drk
  box-shadow: $shadow-short

  //- half circle
  &:before
    width: 80px
    height: 40px
    margin-left: -(@width/2)
    top: -40px
    $halfsies($green-light,$green)
    border-radius: 80px 80px 0 0
    border: 5px solid $green-drk
    border-bottom: none
    box-shadow: 5px -2px 0 -3px $shadow

  &:after
    content: 'LONDON BRIDGE'
    width: 160px
    height: 70px
    margin-left: -76px
    top: 5px
    font-size: 20px
    letter-spacing: 5px
    line-height: 1.2
    color: white(.5)