//- CRATER ----------------------------------------------- //

.crater
  width: 130px
  height: 60px
  margin-left: -(@width/2)
  top: 80px
  background: $tan-drk
  border-radius: 50%
  box-shadow: inset  8px 8px $shadow,
                     0 5px 0 9px $tan-light,
                     10px 10px 0 9px $shadow