//- DIAPER ----------------------------------------------- //

.diaper
  width: 100px
  height: 80px
  margin-left: -(@width/2)
  top: 60px
  background: linear-gradient(112deg, transparent 30px,
                                     $grey-e 30px,
                                     $grey-e 33px,
                                     transparent 33px), //- diaper fold left
              linear-gradient(67deg, transparent 90px,
                                     $grey-c 90px,
                                     $grey-c 93px,
                                     transparent 93px), //- diaper fold right
              linear-gradient(to right, white 50%, #f7f7f7 50%)
  border-bottom-right-radius: 50% 30%
  border-bottom-left-radius: 50% 30%
  box-shadow: $shadow-short

  //- Pin body
  &:before
    width: 78px
    height: 26px
    margin-left: -(@width/2)
    top: 20px
    border: 3px solid $grey-d
    border-radius: 40%
    clip: rect(0,100px,20px,0)

  //- Pin head
  &:after
    width: 20px
    height: 25px
    left: 8px
    top: 20px
    background: $sky-blue
    border-radius: 50% 0 0 50%