//- FLAG ----------------------------------------------- //

//- Flag stripe mixin
$flag-stripe =
  content: ''
  display: block
  position: absolute
  border-bottom: 17px solid transparent
  border-top: 17px solid transparent
  border-left: 170px solid $yellow

//- Arizona state flag 4 divs
.flag
  width: 300px
  height: 200px
  background: linear-gradient(to bottom, $red 51%, $navy-blue 51%)
  margin: 0 auto
  overflow: hidden

  &:before
    width: 300px
    height: 100px
    top: 100px

  //- Stripes on the left
  .flag-stripes--left
    {$flag-stripe}
    left: -10px
    top: 60px
    transform: rotate(18deg)

    &:before, &:after
      {$flag-stripe}
    &:before
      right: -12px
      bottom: 19px
      transform: rotate(28deg)
    &:after
      right: -35px
      bottom: 47px
      transform: rotate(54deg)

  //- Stripes on the right
  .flag-stripes--right
    {$flag-stripe}
    right: -10px
    top: 60px
    transform: rotate(162deg)

    &:before, &:after
      {$flag-stripe}
    &:before
      right: -12px
      bottom: -53px
      transform: rotate(-28deg)
    &:after
      right: -35px
      bottom: -79px
      transform: rotate(-54deg)

  //- Star
  .flag-star
    margin-left: -30px
    top: 90px
    $triangle(30px)
    position: absolute
    left: 50%
    border-bottom: 22px solid $gold
    z-index: 2
    transform: rotate(36deg)

    &:before,
    &:after
      content: ''
      display: block
      position: absolute

    &:before
      $triangle(7px)
      left: -18px
      top: -16px
      border-bottom: 22px solid $gold
      transform: rotate(-35deg)
    &:after
      $triangle(30px)
      left: -30px
      border-bottom: 22px solid $gold
      transform: rotate(-72deg)

//- Flag with 3 divs
.flag-three
  width: 300px
  height: 200px
  background: linear-gradient(to bottom, $red 51%, $navy-blue 51%)
  position: relative
  overflow: hidden

  &:before
    width: 300px
    height: 100px
    top: 100px
  
  .flag-stripes--left
    {$flag-stripe}
    left: -10px
    top: 60px
    transform: rotate(18deg)

    &:before, &:after
      {$flag-stripe}

    &:before
      right: -12px
      bottom: 19px
      transform: rotate(28deg)
    
    &:after
      right: -35px
      bottom: 47px
      transform: rotate(54deg)

  .flag-stripes--right
    {$flag-stripe}
    right: -10px
    top: 60px
    transform: rotate(162deg)

    &:before, &:after
      {$flag-stripe}

    &:before
      right: -12px
      bottom: -53px
      transform: rotate(-28deg)

    &:after
      right: -35px
      bottom: -79px
      transform: rotate(-54deg)

  &:after
    width: 60px
    margin-left: -30px
    top: 50px
    display: block
    content: '\2605'
    font-size: 60px
    text-align: center
    color: $gold

//- Flag with 1 div
.flag-one
  width: 300px
  height: 200px
  overflow: hidden
  background: $navy-blue

  &:before
    width: 300px
    height: 100px
    left: 0
    background:
      linear-gradient(167deg,rgba(186,84,94,0) 80%,$red 80%,$red),
      linear-gradient(154deg,rgba(244,235,147,0) 70%,$yellow 70%,$yellow),
      linear-gradient(135deg,rgba(186,84,94,0) 63%,$red 63%,$red),
      linear-gradient(122deg,rgba(244,235,147,0) 59%,$yellow 59%,$yellow),
      linear-gradient(109deg,rgba(186,84,94,0) 55%,$red 55%,$red),
      linear-gradient(98deg,rgba(244,235,147,0) 52%,$yellow 52%,$yellow),
      linear-gradient(82deg,rgba(186,84,94,0) 48%,$red 48%,$red),
      linear-gradient(70deg,rgba(244,235,147,0) 45%,$yellow 45%,$yellow),
      linear-gradient(57deg,rgba(186,84,94,0) 41%,$red 41%,$red),
      linear-gradient(45deg,rgba(244,235,147,0) 37%,$yellow 37%,$yellow),
      linear-gradient(27deg,rgba(186,84,94,0) 30%,$red 30%,$red),
      linear-gradient(14deg,rgba(244,235,147,0) 21%,$yellow 21%,$yellow)
    background-color: $red

  &:after
    width: 60px
    margin-left: -30px
    top: 50px
    content: '\2605'
    display: block
    font-size: 60px
    text-align: center
    color: $gold