//- SHOES ----------------------------------------------- //

.shoes
  width: 130px
  height: 50px
  margin-left: -(@width/2 + 25px)
  top: 115px
  background-repeat: no-repeat
  background-image: linear-gradient(to right, black(.6) 70%, black(.5) 70%),
                    linear-gradient(to right, $grey-d 50%, $grey-b 50%),
                    radial-gradient(circle at bottom right, $grey-d 45%, transparent 45.5%),
                    radial-gradient(circle, transparent 10%, $grey-8 10%, $grey-8 20%, transparent 20%),
                    radial-gradient(circle, transparent 10%, $grey-6 10%, $grey-6 20%, transparent 20%),
                    radial-gradient(circle, transparent 10%, $grey-6 10%, $grey-6 20%, transparent 20%),
                    radial-gradient(circle, transparent 10%, $grey-6 10%, $grey-6 20%, transparent 20%),
                    linear-gradient(to right, transparent 50%, $grey-3 50%),
                    radial-gradient(circle at 30px -10px, transparent 18%, $grey-4 18.5%),
                    radial-gradient(circle at 30px -10px, transparent 15%, $grey-3 15.5%)
  background-size: 70% 5%,
                   100% 15%,
                   50% 50%,
                   20% 20%,
                   20% 20%,
                   20% 20%,
                   20% 20%,
                   100% 100%,
                   100% 100%,
                   100% 100%
  background-position: 0 95%,
                       0 101%,
                       110% 95%,
                       40% 5%,
                       52% 6%,
                       64% 15%,
                       76% 25%,
                       0 0,
                       0 0,
                       0 0
  border-top-left-radius: 10px
  border-top-right-radius: 120px 60px
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 10px 30px
  box-shadow: $shadow-short

  &:before
    width: 130px
    height: 50px
    margin-left: -10px
    top: -45px
    background-repeat: no-repeat
    background-image: linear-gradient(to right, black(.6) 70%, black(.5) 70%),
                      linear-gradient(to right, $grey-d 50%, $grey-b 50%),
                      radial-gradient(circle at bottom right, $grey-d 45%, transparent 45.5%),
                      radial-gradient(circle, transparent 10%, $grey-8 10%, $grey-8 20%, transparent 20%),
                      radial-gradient(circle, transparent 10%, $grey-6 10%, $grey-6 20%, transparent 20%),
                      radial-gradient(circle, transparent 10%, $grey-6 10%, $grey-6 20%, transparent 20%),
                      radial-gradient(circle, transparent 10%, $grey-6 10%, $grey-6 20%, transparent 20%),
                      linear-gradient(to right, transparent 50%, $grey-3 50%),
                      radial-gradient(circle at 30px -10px, transparent 18%, $grey-4 18.5%),
                      radial-gradient(circle at 30px -10px, transparent 15%, $grey-3 15.5%)
    background-size: 70% 5%,
                     100% 15%,
                     50% 50%,
                     20% 20%,
                     20% 20%,
                     20% 20%,
                     20% 20%,
                     100% 100%,
                     100% 100%,
                     100% 100%
    background-position: 0 95%,
                         0 101%,
                         110% 95%,
                         40% 5%,
                         52% 6%,
                         64% 15%,
                         76% 25%,
                         0 0,
                         0 0,
                         0 0
    border-top-left-radius: 10px
    border-top-right-radius: 120px 60px
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 10px 30px
    box-shadow: $shadow-short
    transform: rotate(20deg)
