//- SNOWBALLS ----------------------------------------------- //

.snowballs
  width: 40px
  height: 40px
  margin-left: -30px
  top: 45px
  background: white
  border-radius: 50%
  box-shadow:  4px  4px        $shadow,
              -50px 50px 0 5px white,
              -46px 54px 0 5px $shadow,
               40px 70px 0 8px white,
               44px 74px 0 8px $shadow