/*------------------------
Global
------------------------*/

$white: #fff;
$black: #000;
$body-grey: #343434;

$shadow: rgba(0,0,0,.13);

/*------------------------
Intro section
------------------------*/

$intro-blue: #caedef;
$flag-blue: #475163;
$flag-red: #ba545e;
$flag-gold: #bc8e68;
$flag-yellow: #f4eb93;

/*------------------------
Desert section
------------------------*/

$desert-brown: #b1ad83;
$cactus-green: #96d882;
$flower-pink: #df659c;

$meter-grey: #bbb;
$meter-grey-drk: lighten($body-grey,10%);

$tree-green: #2f9344;

$tube-blue: #9ac8ca;

/*------------------------
Food and Beer section
------------------------*/

$food-blue-shadow: #3e4756;
$glass-grey: #dedede;

/*------------------------
Weather section
------------------------*/

$weather-blue: #aae3eb;
$weather-blue-shadow: #94c6cd;

$sun-orange: #f3b880;

$temp-blue: darken($tube-blue,7%);

/*------------------------
Films section
------------------------*/

$films-blue-shadow: #80abac;

$hammer-brown: #8f6944;

$house-brown: #f2b67a;
$house-brown-drk: #dda36a;

$diaper-grey: #f3f3f3;

/*------------------------
Perks section
------------------------*/

$perks-grey-shadow: #b9b9b9;

/*------------------------
History section
------------------------*/

$history-brown-shadow: #644a30;

