.ie9 {
  .flag:before {
    background: $flag-blue;
  }
}

.lte-ie8 {

  .siteContent {
    width: 960px;
  }

  .flag { display: none; }

  .siteSection {
    padding: 50px 0;
    &:before { display: none; }
    &:after { display: none; }
  }

  .siteHeader {
    margin-bottom: 30px;
  }

  .icon {
    &:before { display: none; }
    &:after { display: none; }
    .icon-img {
      display: none;
      &:before { display: none; }
      &:after { display: none; }
    }
  }

  .col-one .icon,
  .col-two .icon,
  .col-three .icon {
    margin-bottom: 0;
    padding: 20px 0;
  }

  .intro {
    .siteHeader:after {
      content: "You are seeing a text-only version of this site. There's more to experience though. Much more. Upgrade to Internet Explorer 10 or download Google Chrome to view it in all its glory. Trust us, it's worth it.";
      display: block;
      font-size: 16px;
      line-height: 24px;
      margin: 30px auto;
      text-align: center;
      text-transform: none;
      width: 500px;
    }
  }

  .films {
    .icon {
      display: inline-block;
      padding: 10px 15px;
      width: auto;
    }
  }

  .alumni {
    .list-item {
      padding: 10px 15px;
    }
  }

  .meltmedia {
    margin-top: 75px;
    padding-bottom: 0;
  }

}