@mixin clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* common items for pseudo elements */
@mixin pseudo {
  content: '';
  display: block;
  position: absolute;
}

/* draw the shape */
@mixin draw($width,$height) {
  height: $height;
  width: $width;
}

/* place the shape */
@mixin place($left,$top) {
  margin-left: $left;
  top: $top;
}


/* two-color gradient with a hard stop */
@mixin halfsies($deg,$stop,$color1,$color2) {
  background: linear-gradient($deg, $color1 $stop,$color2 $stop,$color2);
}

/* triangle (up/down) */
@mixin triangle($width) {
  border-left: $width solid transparent;
  border-right: $width solid transparent;
}

/* triangle (left/right) */
@mixin arrow($width) {
  border-bottom: $width solid transparent;
  border-top: $width solid transparent;
}

/* rotate transform */
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform:    rotate($deg);
  -ms-transform:     rotate($deg);
  -o-transform:      rotate($deg);
  transform:         rotate($deg);
}

/* scale transform */
@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform:    scale($value);
  -ms-transform:     scale($value);
  -o-transform:      scale($value);
  transform:         scale($value);
}

/* skew transform */
@mixin skew($xvalue,$yvalue) {
  -webkit-transform: skew($xvalue,$yvalue);
  -moz-transform:    skew($xvalue,$yvalue);
  -ms-transform:     skew($xvalue,$yvalue);
  -o-transform:      skew($xvalue,$yvalue);
  transform:         skew($xvalue,$yvalue);
}