/*------------------------
lynnandtonic.com/editorially

Lynn Fisher 2013
------------------------*/

/*-- scss imports --*/

@import "reset";
@import "mixins";

/*------------------------
Fonts / Colors / Variables
------------------------*/

@mixin georgia { font-family: Georgia, Times, serif; }
@mixin museo-sans { font-family: "museo-sans", Helvetica, Arial, sans-serif; }

$white: #fff;
$black: #000;
$grey-bg: #e5e5e5;
$grey-border: #ccc;
$orange: #eb6746;
$blue-link: #3a569e;


/*------------------------
Page styles
------------------------*/

html { -webkit-text-size-adjust: none; }

body {
  background: $grey-bg;
  @include georgia;
  font-size: 17px;
  line-height: 30px;
}

h1, h2 {
  @include museo-sans;
  text-align: center;
}

hr {
  margin: 40px auto 20px;
  width: 30%;
}

a {
  border-bottom: 1px dotted $blue-link;
  color: $blue-link;
  text-decoration: none;
}

.textCenter { text-align: center; }

.pageHeader {
  background: $white;
  padding-top: 25px;
  text-align: center;
  position: relative;
  z-index: 1;
  @include min-width(700px) { padding-top: 50px; }
}

.editoriallyTeam {
  max-width: 871px;
  width: 90%;
}

.lynnPic {
  @include border-radius( 50% );
  display: block;
  margin: 0 auto 30px;
  width: 30%;
}

.pageContent {
  background: $grey-bg;
  border-top: 1px solid $grey-border;
  min-height: 100px;
  padding: 50px 0;
  position: relative;
  top: -20px;
  z-index: 2;
  &:before {
    background: rgba(255,255,255,.4);
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    top: -10px;
    width: 100%;
  }
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 20px;
}

.pageHeadline {
  color: $orange;
  font-size: 25px;
  @include min-width(700px) { font-size: 30px; }
  padding-bottom: 15px;
}

.pageSubhead {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 30px;
}

.pageSubhead--main {
  @extend .pageSubhead;
  padding-top: 0;
}

p { padding-bottom: 20px; }


/*------------------------
Clearfix
------------------------*/

.clearfix:after,
.container:after,
.siteHeader:after,
.footerSection:after {
  @include clearfix;
}









