/*------------------------
WHYAZ

meltmedia 2013
------------------------*/

/*-- scss imports --*/

@import "reset";
@import "mixins";
@import "colors";

/*------------------------
Style Variables
------------------------*/

$shadow-tall: 8px 8px 0 $shadow;
$shadow-short: 4px 4px 0 $shadow;
$shadow-films: 8px 8px 0 $films-blue-shadow;

/*------------------------
Global styles
------------------------*/

html { -webkit-text-size-adjust: none; }

body { 
  font-family: "ff-tisa-web-pro", Georgia, Times, serif;
  text-align: center;
}

.siteSection {
  position: relative;
  padding: 100px 30px 100px;
  &:before, &:after {
    @include pseudo;
    left: 50%;
  }
}

.siteHeader {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 100px;
  text-align: center;
  text-shadow: $shadow-short;
  text-transform: uppercase;
}

.siteContent {
  font-size: 22px;
  line-height: 30px;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  .icon {
    float: left;
    position: relative;
    margin: 0;
    margin-bottom: 15%;
    &:before, &:after,
    .icon-img, .icon-img:before, .icon-img:after { 
      @include pseudo; 
      left: 50%;
    }
  }
}

.col-two {
  .icon {
    padding-top: 180px;
    width: 45%;
    &:nth-of-type(odd) { margin-right: 5%; clear: left; }
    &:nth-child(even)  { margin-left: 5%; }
  }
}

.col-three {
  .icon {
    font-size: 20px;
    line-height: 28px;
    padding-top: 150px;
    width: 29.333333%;
    &:nth-child(3n+1) { margin-right: 3%; }
    &:nth-child(3n+2) { margin-left: 3%; margin-right: 3%; }
    &:nth-child(3n+3) { margin-left: 3%; }
    &:nth-child(3n+1) { clear: left; }

  }
}

/*------------------------
Intro section
------------------------*/

.intro {
  background: $intro-blue;
  padding-bottom: 200px;
  .siteHeader {
    font-size: 150px;
    letter-spacing: 20px;
    margin-bottom: 60px;
  text-shadow: $shadow-tall;
  }
}

@mixin flag-stripe {
  @include pseudo;
  @include arrow(17px);
  border-left: 170px solid $flag-yellow;
}

.flag {
  @include halfsies(360deg,49%,$flag-blue,$flag-red);
  box-shadow: $shadow-tall;
  margin: 0 auto;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 300px;
  .flag-stripes--left {
    @include flag-stripe;
    @include rotate(18deg);
    left: -10px;
    top: 60px;
    &:before, &:after { @include flag-stripe; }
    &:before {
      @include rotate(28deg);
      right: -12px;
      bottom: 19px;
    }
    &:after {
      @include rotate(54deg);
      right: -35px;
      bottom: 47px;
    }
  }
  .flag-stripes--right {
    @include rotate(162deg);
    @include flag-stripe;
    right: -10px;
    top: 60px;
    &:before, &:after { @include flag-stripe; }
    &:before {
      @include rotate(-28deg);
      right: -12px;
      bottom: -53px;
    }
    &:after {
      @include rotate(-54deg);
      right: -35px;
      bottom: -79px;
    }
  }
  &:after {
    color: $flag-gold;
    content: '\2605';
    display: block;
    font-size: 60px;
    margin: 0 auto;
    position: relative;
    top: 60px;
    width: 60px;
  }
}

/*------------------------
Desert section
------------------------*/

.desert {
  background: $desert-brown;
  &:before {
    @include draw(80px,90px);
    @include place(-40px,-60px);
    @include halfsies(90deg,60%,$cactus-green,darken($cactus-green,10%));
    border-radius: 50% 50% 0 0;
    box-shadow: $shadow-short;
  }
  &:after {
    @include draw(10px,10px);
    @include place(10px,-55px);
    background: $flag-yellow;
    border-radius: 50%;
    box-shadow: 7px -7px 0 3px $flower-pink,
                -7px -7px 0 3px $flower-pink,7px 
                7px 0 3px darken($flower-pink,10%),
                -7px 7px 0 3px darken($flower-pink,10%),
                10px -3px 0 3px $shadow;
  }
}

.meter {
  &:before {
    @include draw(140px,140px);
    @include place(-70px,0);
    @include halfsies(90deg,51%,lighten($meter-grey,10%),$meter-grey);
    border-radius: 50%;
    box-shadow: $shadow-tall;
  }
  &:after {
    @include draw(110px,110px);
    @include place(-55px,15px);
    @include halfsies(90deg,55%,lighten($meter-grey,20%),lighten($meter-grey,15%));
    border-radius: 50%;
  }
  .icon-img {
    @include draw(50px,15px);
    @include place(-25px,40px);
    background: $white;
    z-index: 2;
    &:before {
      @include draw(45px,8px);
      @include place(-5px,28px);
      background: $meter-grey-drk;
    }
    &:after {
      @include draw(6px,50px);
      @include place(-10px,-8px);
      @include rotate(-35deg);
      background: $meter-grey-drk;
    }
  }
}

.trees {
  &:before {
    @include place(20px,54px);
    @include triangle(30px);
    border-bottom: 60px solid $shadow;
  }
  &:after {
    @include place(15px,50px);
    @include triangle(30px);
    border-bottom: 60px solid darken($tree-green,8%);
  }
  .icon-img {
    @include place(-52px,8px);
    @include triangle(60px);
    border-bottom: 140px solid $shadow;
    z-index: 2;
    &:before {
      @include place(-68px,-8px);
      @include triangle(60px);
      border-bottom: 140px solid $tree-green;
    }
    &:after {
      @include place(-68px,-8px);
      border-bottom: 140px solid lighten($tree-green,3%);
      border-left: 60px solid transparent;
    }
  }
}

.tube {
  &:before {
    @include place(-70px,0);
    border-bottom: 70px solid $white;
    border-top: 70px solid $flag-yellow;
    border-left: 70px solid $flag-red;
    border-right: 70px solid $tube-blue;
    border-radius: 50%;
    box-shadow: $shadow-tall;
  }
  &:after {
    @include draw(60px,60px);
    @include place(-30px,40px);
    background: $desert-brown;
    border-radius: 50%;
    box-shadow: inset 8px 8px 0 $shadow;
    z-index: 2;
  }
  .icon-img {
    @include draw(120px,120px);
    @include place(-62px,8px);
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,.6);
    clip: rect(0px,60px,60px,0px);
  }
}

.snow {
  &:before {
    @include draw(60px,60px);
    @include place(-40px,0);
    background: $white;
    border-radius: 50%;
    box-shadow: 8px 8px 0 0 $shadow,
                -55px 60px 0 5px $white,
                -47px 68px 0 5px $shadow,
                45px 80px 0 8px $white,
                53px 88px 0 8px $shadow;
  }
}

/*------------------------
Living section
------------------------*/

.living {
  background: $flag-red;
  color: $white;
  &:before {
    @include draw(130px,65px);
    @include place(-70px,-40px);
    @include halfsies(90deg,50%,$cactus-green,darken($cactus-green,10%));
    border: 5px solid $shadow;
    box-shadow: $shadow-short;
  }
  &:after {
    @include draw(15px,15px);
    @include place(-60px,-30px);
    background: $shadow;
    border-radius: 50%;
    box-shadow: 0 40px 0 $shadow,
                105px 0 0 $shadow,
                105px 40px 0 $shadow,
                53px 21px 0 10px $shadow;
  }
}

.sanfran {

}

/*------------------------
Food and Beer section
------------------------*/

.food {
  background: $flag-blue;
  color: $white;
}

.pizza {
  &:before {
    @include draw(140px,140px);
    @include place(-70px,0);
    @include halfsies(90deg,50%,lighten($hammer-brown,7%),$hammer-brown);
    border-radius: 50%;
    box-shadow: $shadow-tall;
  }
  &:after {
    @include draw(110px,110px);
    @include place(-55px,15px);
    background: $flag-yellow;
    border-radius: 50%;
  }
  .icon-img {
    @include draw(20px,20px);
    @include place(-25px,30px);
    background: $flag-red;
    border-radius: 50%;
    box-shadow: -20px 30px 0 $flag-red,
                8px 60px 0 $flag-red,
                10px 30px 0 $flag-red,
                37px 10px 0 $flag-red,
                50px 45px 0 $flag-red;
    z-index: 2;
  }
}

.beer-mug {
  &:before {
    @include draw(60px,95px);
    @include place(-30px,20px);
    @include halfsies(180deg,30%,lighten($flag-yellow,15%),$flag-yellow);
    border: 5px solid $white;
    border-bottom-width: 15px;
    box-shadow: $shadow-tall;
    z-index: 2;
  }
  &:after {
    @include draw(20px,20px);
    @include place(-25px,10px);
    background: lighten($flag-yellow,15%);
    border-radius: 50%;
    box-shadow: 20px 0 0 3px lighten($flag-yellow,15%),
                40px 5px 0 1px lighten($flag-yellow,15%);
  }
  .icon-img {
    @include draw(35px,115px);
    @include place(5px,20px);
    background: $shadow;
    z-index: 3;
    &:before, &:after {
      @include draw(30px,40px);
      border-radius: 10px;
      clip: rect(0,50px,60px,20px);
    }
    &:before {
      @include place(5px,38px);
      border: 8px solid $food-blue-shadow;
    }
    &:after {
      @include place(-3px,30px);
      border: 8px solid $glass-grey;
    }
  }
}

.beer-glass {
  &:before, &:after {
    @include draw(70px,0);
    @include triangle(15px);
  }
  &:before {
    @include place(-42px,8px);
    border-top: 130px solid $food-blue-shadow;
  }
  &:after {
    @include place(-50px,0);
    border-top: 130px solid $white;
  }
  .icon-img {
    @include draw(64px,0);
    @include place(-44px,5px);
    @include triangle(12px);
    border-top: 112px solid darken($hammer-brown,20%);
    z-index: 2;
    &:before {
      @include draw(82px,0);
      @include place(-44px,-112px);
      @include triangle(3px);
      border-top: 30px solid lighten($hammer-brown,40%);
    }
    &:after {
      @include draw(35px,0);
      @include place(0,-117px);
      border-top: 130px solid $shadow;
      border-right: 15px solid transparent;
    }
  }
}

.taco {
  &:before, &:after {
    @include draw(140px,70px);
    @include halfsies(90deg,50%,$sun-orange,darken($sun-orange,7%));
    border-radius: 70px 70px 0 0;
    box-shadow: $shadow-tall;
  }
  &:before {
    @include place(-70px,0);
  }
  &:after {
    @include place(-40px,50px);
  }

}

/*------------------------
Weather section
------------------------*/

.weather {
  background: $weather-blue;
  &:before {
    @include draw(150px,30px);
    @include place(-75px,-10px);
    background: $white;
    border-radius: 100px;
    box-shadow: $shadow-short;
    z-index: 2;
  }
  &:after {
    @include draw(50px,50px);
    @include place(-55px,-40px);
    border-radius: 50%;
    background: $white;
    box-shadow: 50px -2px 0 12px $white,
                56px 0 0 10px $shadow;
  }
}

.sun {
  &:before, &:after {
    @include draw(100px,100px);
    @include place(-42px,28px);
    background: $weather-blue-shadow;
  }
  &:before { @include rotate(155deg); }
  &:after  { @include rotate(20deg); }
    .icon-img {
    @include draw(100px,100px);
    @include place(-50px,23px);
    @include rotate(155deg);
    background: $sun-orange;
    z-index: 2;
    &:before {
      @include draw(100px,100px);
      @include place(-50px,0);
      background: $sun-orange;
      @include rotate(45deg);
    }
    &:after {
      @include draw(80px,80px);
      @include place(-40px,10px);
      @include rotate(25deg);
      @include halfsies(90deg,50%,$flag-yellow,lighten($flag-yellow,10%));
      border-radius: 50%;
    }
  }
}

.temp {
  &:before {
    @include draw(70px,140px);
    @include place(-35px,0);
    @include halfsies(90deg,50%,lighten($meter-grey,8%),$meter-grey);
    box-shadow: $shadow-tall;
    border-radius: 5px;
  }
  &:after {
    @include draw(10px,100px);
    @include place(-10px,12px);
    @include halfsies(360deg,70%,$flag-red,lighten($meter-grey,12%));
    border: 5px solid $white;
    border-radius: 20px;
  }
  .icon-img {
    @include draw(30px,30px);
    @include place(-15px,100px);
    background: $white;
    border-radius: 50%;
    &:before {
      @include draw(20px,20px);
      @include place(-10px,5px);
      background: $flag-red;
      border-radius: 50%;
      z-index: 2;
    }
    &:after {
      @include draw(10px,3px);
      @include place(-25px,-2px);
      background: $temp-blue;
      box-shadow: 0 -15px 0 $temp-blue,
                  0 -30px 0 $temp-blue,
                  0 -45px 0 $temp-blue,
                  0 -60px 0 $temp-blue,
                  0 -75px 0 $temp-blue;
    }
  }
}

/*------------------------
Films section
------------------------*/

.films {
  background: lighten($temp-blue,5%);
  &:before {
    @include draw(100px,80px);
    @include place(-50px,-40px);
    background:
      linear-gradient(90deg,transparent 50%,darken($meter-grey,20%) 50%,darken($meter-grey,25%)),
      linear-gradient(225deg,transparent 50%,darken($meter-grey,20%) 50%,darken($meter-grey,25%));
    background-color: $meter-grey;
    border-radius: 5px;
    box-shadow: $shadow-short;
  }
  &:after {
    @include place(-27px,-27px);
    color: $white;
    content: '8';
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid $white;
    padding: 6px 0 9px;
    width: 50px;
  }
}

.starwars {
  &:before {
    @include draw(120px,80px);
    @include place(-52px,38px);
    background: $films-blue-shadow;
    border-radius: 120px 120px 0 0;
  }
  &:after {
    @include draw(120px,80px);
    @include place(-60px,30px);
    background:
      linear-gradient(180deg, transparent 60%,$shadow 60%,$shadow),
      linear-gradient(90deg, $house-brown 50%,$house-brown-drk 50%,$house-brown-drk);
    border-radius: 120px 120px 0 0;
  }
  .icon-img {
    @include draw(150px,45px);
    @include place(-75px,65px);
    background:
      linear-gradient(180deg, transparent 40%,$shadow 40%,$shadow),
      linear-gradient(90deg, $house-brown 50%,$house-brown-drk 50%,$house-brown-drk);
    background-color: $house-brown;
    box-shadow: $shadow-films;
    &:before {
      @include draw(30px,45px);
      @include place(-15px,0);
      background: $body-grey;
      border-radius: 30px 30px 0 0;
      z-index: 3;
    }
    &:after {
      @include draw(20px,20px);
      @include place(70px,-35px);
      background: $flag-red;
      border-radius: 50%;
      box-shadow: 4px 4px 0 $shadow,
                  -28px -28px 0 $flag-yellow,
                  -24px -24px 0 $shadow;
    }
  }
}

.phonebooth {
  &:before {
    @include draw(59px,110px);
    @include place(-30px,0);
    @include halfsies(90deg,50%,lighten($meter-grey,10%),$meter-grey);
    box-shadow: $shadow-tall;
  }
  &:after {
    @include draw(15px,40px);
    @include place(-25px,24px);
    background: $flag-red;
    box-shadow: 0 42px 0 $flag-red,
                34px 0 0 $flag-red,
                34px 42px 0 $flag-red,
                17px 0 0 lighten($meter-grey,25%),
                17px 42px 0 lighten($meter-grey,25%);
  }
  .icon-img {
    @include draw(39px,10px);
    @include place(-20px,7px);
    background: $white;
    z-index: 2;
  }
}

.shawshank {
  &:before {
    @include draw(90px,15px);
    @include place(-45px,0);
    background: lighten($meter-grey,11%);
    border-radius: 120px/30px 0 0 0;
    box-shadow: $shadow-films;
  }
  &:after {
    @include place(-10px,10px);
    @include triangle(15px);
    border-top: 40px solid lighten($meter-grey,11%);
  }
  .icon-img {
    @include place(-2px,18px);
    @include triangle(15px);
    border-top: 40px solid $films-blue-shadow;
    &:before {
      @include draw(22px,90px);
      @include place(-19px,-30px);
      @include halfsies(90deg,50%,lighten($hammer-brown,8%),$hammer-brown);
      border-radius: 2px 2px 4px 4px;
      box-shadow: $shadow-films;
      z-index: 2;
    }
    &:after {
      @include draw(10px,10px);
      @include place(-13px,-7px);
      background-color: $meter-grey;
      border-radius: 50%;
      box-shadow: 0 40px 0 $meter-grey;
      z-index: 3;
    }
  }
}

.cowboy {
  &:before {
    @include draw(70px,60px);
    @include place(-35px,10px);
    @include halfsies(90deg,50%,lighten($body-grey,5%),$body-grey);
    border-top-left-radius: 50% 23%;
    border-top-right-radius: 50% 23%;
    box-shadow: $shadow-films;
  }
  &:after {
    @include draw(140px,8px);
    @include place(-70px,64px);
    background: $body-grey;
    box-shadow: $shadow-films;
  }
  .icon-img {
    @include draw (20px,8px);
    @include place(-10px,108px);
    background: $films-blue-shadow;
    &:before, &:after {
      @include draw(25px,10px);
      background: $body-grey;
      box-shadow: 4px 4px $films-blue-shadow;
    }
    &:before {
      @include place(-25px,-3px);
      @include skewY(160deg);
    }
    &:after {
      @include place(0,-3px);
      @include skewY(-160deg);
    }
  }
}

.diaper {
  &:before {
    @include draw(3px,65px);
    @include place(30px,10px);
    background: $meter-grey;
    @include skewX(25deg);
    z-index: 2;
  }
  &:after {
    @include draw(3px,65px);
    @include place(-30px,10px);
    background: lighten($meter-grey,20%);
    @include skewX(-25deg);
    z-index: 2;
  }
  .icon-img {
    @include draw(100px,80px);
    @include place(-50px,10px);
    @include halfsies(90deg,50%,$white,lighten($meter-grey,22%));
    border-bottom-right-radius: 50% 30%;
    border-bottom-left-radius: 50% 30%;
    box-shadow: $shadow-tall;
    &:before {
      @include draw(20px,25px);
      @include place(-42px,20px);
      background: $weather-blue;
      border-radius: 50% 0 0 50%;
      z-index: 4;
    }
    &:after {
      @include draw(70px,20px);
      @include place(-35px,20px);
      border: 3px solid lighten($meter-grey,10%);
      border-radius: 40%;
      clip: rect(0,100px,20px,0);
      z-index: 3;
    }
  }
}

.wally {
  &:before {
    @include draw(70px,15px);
    @include place(-82px,68px);
    background: $films-blue-shadow;
    border-radius: 0 0 50px 50px;
    box-shadow: 110px 0 0 $films-blue-shadow;
  }
  &:after {
    @include draw(100px,60px);
    @include place(-50px,30px);
    @include halfsies(90deg,50%,lighten($tree-green,4%),$tree-green);
    border-radius: 100px 100px 0 0;
    box-shadow: $shadow-films;
    z-index:1;
  }
  .icon-img {
      @include draw(15px,25px);
      @include place(-90px,45px);
      background: $hammer-brown;
      border-radius: 20px;
      box-shadow: 17px 0 0 $hammer-brown,
                  34px 0 0 $hammer-brown,
                  149px 0 0 darken($hammer-brown,8%),
                  132px 0 0 darken($hammer-brown,8%),
                  166px 0 0 darken($hammer-brown,8%),
                  173px 8px 0 $films-blue-shadow;
      z-index: 2;
    &:before {
      @include draw(70px,15px);
      @include place(-7px,15px);
      background: $hammer-brown;
      border-radius: 0 0 50px 50px;
      box-shadow: 110px 0 0 darken($hammer-brown,8%);
      z-index: 3;
    }
    &:after {
      @include draw(21px,7px);
      @include place(41px,12px);
      background: lighten($tree-green,4%);
      border-radius: 0 0 20px 20px;
      box-shadow: 62px 0 0 $tree-green;
      z-index: 4;
    }
  }
}

.tshirt {
  &:before {
    @include draw(70px,100px);
    @include place(-27px,8px);
    background: $films-blue-shadow;
    border-radius: 20% 20% 0 0;
  }
  &:after {
    @include draw(60px,35px);
    @include place(-60px,5px);
    background: lighten($body-grey,5%);
    box-shadow: $shadow-films;
  }
  .icon-img {
    @include draw(60px,35px);
    @include place(-2px,5px);
    background: $body-grey;
    box-shadow: $shadow-films;
    &:before {
      @include draw(70px,100px);
      @include place(-64px,-5px);
      @include halfsies(90deg,50%,lighten($body-grey,5%),$body-grey);
      border-radius: 20% 20% 0 0;
      z-index: 2;
    }
    &:after {
      @include draw(25px,10px);
      @include place(-40px,-5px);
      background: $black;
      border-radius: 0 0 25px 25px;
      z-index: 3;
    }
  }
}

.wheel {
  &:before {
    @include draw(8px,100px);
    @include place(0,7px);
    background: $hammer-brown;
    box-shadow: 8px -2px 0 $shadow;
    @include rotate(60deg);
  }
  &:after {
    @include draw(8px,100px);
    @include place(0,7px);
    background: $hammer-brown;
    box-shadow: 8px -3px 0 $shadow;
    @include rotate(120deg);
  }
  .icon-img {
    @include draw(8px,100px);
    @include place(0,0);
    background: $hammer-brown;
    box-shadow: $shadow-tall;
    &:before {
      @include draw(90px,90px);
      @include place(-55px,0);
      border: 10px solid $hammer-brown;
      border-radius: 50%;
      box-shadow: $shadow-tall;
      z-index: 2;
    }
    &:after {
      @include draw(20px,20px);
      @include place(-18px,37px);
      background: darken($hammer-brown,10%);
      border: 8px solid $hammer-brown;
      border-radius: 50%;
      box-shadow: $shadow-short;
      z-index: 2;
    }
  }
}

.nerd {
  &:before {
    @include draw(70px,110px);
    @include place(-35px,0);
    @include halfsies(90deg,50%,lighten($flag-yellow,8%),$flag-yellow);
    border-radius: 3px 3px 5px 5px;
    box-shadow: $shadow-tall;
  }
  &:after {
    @include draw(6px,50px);
    @include place(-25px, 10px);
    background: $flag-red;
    box-shadow: 4px 4px 0 $shadow,
                15px 6px 0 1px $body-grey,
                19px 10px 0 $shadow,
                30px 2px 0 $flag-blue,
                34px 6px 0 $shadow,
                42px 2px 0 $flag-blue,
                46px 6px 0 $shadow;
  }
  .icon-img {
    @include draw(56px,40px);
    @include place(-28px,36px);
    @include halfsies(90deg,60%,lighten($flag-yellow,8%),$flag-yellow);
    box-shadow: 3px 3px 0 $shadow;
    z-index: 2;
    &:before {
      @include draw(3px,25px);
      @include place(-27px,-13px);
      background: lighten($flag-red,8%);
      box-shadow: 21px -5px 0 $body-grey,
                  36px 0 0 $flag-blue,
                  48px 0 0 $flag-blue;
    }
  }
}

/*------------------------
Perks section
------------------------*/

.perks {
  background: $meter-grey;
}

/*------------------------
Clearfix
------------------------*/

.clearfix:after,
.container:after,
.siteContent:after {
  @include clearfix;
}





