@import "reset";
@import "mixins";

@mixin georgia { font-family: Georgia, Times, serif; }
@mixin museo { font-family: "museo-sans", Helvetica, Arial, sans-serif; }

$white: #fff;
$black: #000;
$main-grey: #555;
$border-grey: #e6e6e6;
$bg-grey: #f7f7f7;
$h-grey: #777;
$h-blue: #819d9b;
$a-blue: #3a569e;
$bg-pink: #f53947;


/*----------------------------
---- Globals
----------------------------*/

html { -webkit-text-size-adjust: none; }

body {
  @include museo;
  background: $bg-grey;
}

a { text-decoration: none; }

.container {
  margin: 0 auto;
  max-width: 860px;
}

/*----------------------------
---- Navigation
----------------------------*/

.siteNav {
  background: $bg-pink;
  text-align: center;
  @include max-width(700px) {
    background: $main-grey;
    border-top: 5px solid $bg-pink;
  }
  @include max-width(400px) {
    border-top-color: $h-blue;
    border-bottom: 1px solid $bg-grey;
    @include box-shadow(0, 2px, 3px, rgba(0,0,0,.5));
  }
  .siteNav-link {
    color: $white;
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    padding: 30px 20px 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    &:hover {
      background: rgba(0,0,0,.2);
    }
    @include max-width(700px) {
      font-size: 15px;
      padding: 15px 10px 10px;
    }
    @include max-width(400px) {
      border-top: 1px solid $h-grey;
      display: block;
      margin: 0;
      padding: 10px;
    }
  }
}

/*----------------------------
---- Site Content
----------------------------*/

.siteContent {
  background: url(../images/testing/alice1.png) no-repeat 50% -20px;
  min-height: 550px;
  @include max-width(700px) {
    background-image: url(../images/testing/alice2.png);
    background-position: -20px -20px;
    @include background-size(700px, auto);
    min-height: 450px;
  }
  @include max-width(400px) {
    background-image: url(../images/testing/alice3.png);
    background-position: 50% -50px;
  }
  .headline--splash {
    background: rgba(0,0,0,.7);
    color: $white;
    display: inline-block;
    @include max-width(700px) {
      background: rgba(245, 57, 71, .8);
      text-shadow: 1px 1px 3px rgba(0,0,0,.4);
    }
    @include max-width(400px) {
      background: rgba(129, 157, 155, .8);
    }
  }
  .siteHeadline {
    font-size: 50px;
    margin: 200px 0 0;
    padding: 5px 15px;
    @include max-width(700px) {
      font-size: 40px;
      margin: 280px 20px 0;
    }
    @include max-width(400px) {
      font-size: 28px;
      margin: 300px 0 0;
    }
  }
  .siteSubhead {
    font-size: 40px;
    margin: 15px 0 0 20px;
    padding: 5px 15px;
    @include max-width(700px) {
      font-size: 32px;
      margin: 10px 0 50px 50px;
    }
    @include max-width(400px) {
      font-size: 22px;
      margin-left: 100px;
    }
  }
}

/*----------------------------
---- Footer
----------------------------*/

.siteFooter {
  background: $main-grey;
  color: $white;
  font-size: 18px;
  padding: 30px 0 100px;
  text-align: center;
  @include max-width(700px) {
    border-bottom: 5px solid $h-blue;
    font-size: 25px;
  }
  @include max-width(400px) {
    background: $bg-pink;
    border: none;
  }
}