//- ICONS ----------------------------------------------- //

.icon
  position: relative
  margin: 0 auto 25%
  width: 86%

  @media $screen-large
    margin-bottom: 15%

  &:before, &:after,
  .icon-img, .icon-img:before, .icon-img:after
    {$pseudo}
    left: 50%