//- NAV STYLES ----------------------------------------------- //

.site-nav
  background: $grey-3
  font-family: $font-family-brandon
  color: $white

  .container
    max-width: 960px
    padding: 15px 20px

  a
    display: inline-block
    color: $white