//- BUTTON STYLES ----------------------------------------------- //

button
  border: none

.button, a.button
  display: inline-block
  border-radius: 3px
  border: none
  margin: 10px
  padding: 10px 20px 6px
  font-family: $font-tisa-sans
  font-size: 14px
  text-align: center
  text-transform: uppercase
  line-height: 1.5
  user-select()
  cursor: pointer
  -webkit-appearance: none
  transition: all .2s ease-in 
  -webkit-transition: all .2s ease-in
  background-color: darken($blue-grey-drk, 20%)
  background-image: none
  color: white

  &:hover
    background-color: darken($blue-grey-drk, 40%)

  &:focus
    outline: none