//- FOOTER ----------------------------------------------- //

footer
  padding: 30px

  @media $screen-xlarge
    padding: 60px

  &.footer-credits
    border-bottom: 1px dotted white(.2)
    font-size: 14px

    p, h3
      color: $grey-a

    h3
      font-size: 18px

    .icon
      top: 50px

    #manifesto
      margin: 30px auto
      padding: 20px 0 10px
      border-top: 1px dotted white(.2)
      border-bottom: 1px dotted white(.2)

      p
        text-align: left

    .references
      font-size: 13px
      line-height: 18px
      text-align: center
      color: $grey-a

    .references-list

      a
        color: $grey-a

  .button
    min-width: 200px
