//- FORM STYLES ----------------------------------------------- //

form
  margin: 30px auto
  text-align: left

  label
    margin-bottom: 8px
    padding-left: 5px
    display: block
    font-size: 13px

    &.required
      position: relative
      padding-right: 55px

      &:after
        content: 'required'
        position: absolute
        right: 5px
        bottom: 0
        font-size: 12px
        font-style: italic

  input, textarea
    box-sizing: border-box
    width: 100%
    margin-bottom: 20px
    padding: 10px
    border: 1px solid $blue-grey
    border-radius: 3px
    font-family: $font-tisa-serif
    font-size: 14px

  textarea
    resize: vertical

  .button
    width: 100%
    margin: 10px 0 0

  .alert
    margin-bottom: 20px
    padding: 10px 15px
    border: 1px solid
    border-radius: 3px
    font-size: 16px
    color: $white

    &.error
      background: $red-light
      border-color: $red-drk

    &.success
      background: $teal
      border-color: $green-drk