//- NAV STYLES ----------------------------------------------- //

.site-nav
  background: $navy-blue
  font-family: $font-family-brandon
  font-weight: $font-weight-bold
  text-transform: uppercase
  color: $white

  .container
    max-width: 920px
    margin: 0 auto
    padding: 12px 20px 9px

  a.nav-link
    display: inline-block
    line-height: 1
    color: $grey-e

    &:hover
      border: none
      opacity: .9

    &.logo
      float: left
      font-size: 20px
      letter-spacing: 5px

    &:not(.logo)
      margin-left: 20px
      margin-top: 2px
      float: right
      font-size: 14px
