//- NAV STYLES ----------------------------------------------- //

.nav-main
  padding-bottom: 20px
  font-size: 14px
  font-style: italic
  line-height: 1
  text-align: left

  .nav-link
    padding-bottom: 3px
    display: inline-block
    border-bottom: 3px solid transparent
    color: $grey-3

    &:hover
      border-color: $blue-grey

    &:not(:first-child)
      margin-left: 20px

@media $screen-small

  .nav-main

    .nav-link-group
      &:nth-child(1)
        margin-bottom: 15px

    .description
      margin-left: 10px

      &:before
        margin-right: 10px
        content: '/'
        display: inline-block


@media $screen-large

  .nav-main
    display: flex

    .nav-link-group
      flex: 1
      &:nth-child(1)
        align-self: flex-start
        text-align: left
      &:nth-child(2)
        align-self: flex-end
        text-align: right

    .description
      margin-left: 20px
