//- SECTIONS ----------------------------------------------- //

.siteSection
  min-width: 240px
  padding: 100px 30px 100px
  position: relative

  &.links-drk
    a
      color: rgba(52,52,52,.7)

  &.links-light
    color: $white

    a
      color: rgba(255,255,255,.7)

  &:before, &:after
    {$pseudo}
    left: 50%

  //- Secondary pages (e.g. /contribute)
  &.secondary-page
    padding: 40px 20px 30px

    @media $screen-medium
      padding: 60px 30px

    h2
      margin-bottom: 40px

    h3
      margin-bottom: 20px

    p, form
      max-width: 500px
      margin: 0 auto 30px

    form
      margin-top: 30px
      margin-bottom: 80px

    a
      color: $red

.siteContent
  max-width: 900px
  margin: 0 auto
  position: relative
  font-size: 18px
  line-height: 24px

  @media $screen-medium
    font-size: 22px
    line-height: 30px