extends ../../templates/layout

block vars
  - var title = "Contribute to WhyAZ"
  - var description = "How to contribute ideas and content to why.az"
  - var bodyClass = "contribute"

block content

  .flex-container
    .flex-1of2
      .content.pale-blue.text-drk
        h2 Contribute
        p We’re sure there’s awesome stuff we’ve missed (or haven’t even heard of yet). Contribute and help us make WhyAZ even better.
        h3 Submit an idea

        form(name="contribute", method="POST", data-netlify="true", netlify-honeypot="bot-field", action="/thanks")
          ul
            li
              label.desc(for="name") Name
              input.field.text(id="name", name="name", type="text", placeholder="Sam Alexander")
            li
              label.desc(for="email") Email
              input.field.text(id="email", name="email" type="email", placeholder="sam@why.az")
            li
              label.desc(for="twitter") Twitter
              input.field.text(id="twitter", name="twitter", type="text", placeholder="@nova_prime_az")
            li
              label.desc.required(for="message") Message
              textarea.field.textarea(id="message", name="mesasge", type="textarea", rows="3", placeholder="You won’t believe this...", required)
            li.buttons
              input.button.btTxt.submit(id="submit", type="submit", value="Send")
            li.hide
              label(for="bot-field") Do not fill this out
              input.field.text(id="bot-field", name="bot-field", type="text")

    .flex-1of2
      .content.navy-blue.text-light
        h3 Or contribute on GitHub
        p Submit an <a href="https://github.com/whyaz/whyaz/issues">issue</a> or a pull request. Please see the <a href="https://github.com/whyaz/whyaz/#contributing">contribution guidelines</a>.

        h3 Contributors
        ul.contributors-list.clearfix
          each contributor in contributors
            li.contributor
              a(href=contributor.html_url)
                img.avatar(src=contributor.avatar_url)
          li.contributor
            a(href="https://github.com/jacobheun")
              img.avatar(src="https://avatars3.githubusercontent.com/u/639834?s=460&v=4")
          li.contributor
            a(href="https://twitter.com/andyfrey")
              img.avatar(src="https://pbs.twimg.com/profile_images/1363598990/Team_Exit_400x400.jpg")
