block vars
  - var title = "Contribute to WhyAZ"
  - var description = "How to contribute ideas and content to why.az"

extends ../../templates/layout

block content

  section.siteSection.secondary-page
    .siteContent
      h2 Contribute
      p We’re sure there’s awesome stuff we’ve missed (or haven’t even heard of yet). Contribute and help us make WhyAZ even better.
      h3 Submit an idea

      form
        .alert.error.hidden Whoops! An email or Twitter handle is required.
        .alert.success.hidden We received your message. Thank you! Submit another?
        fieldset
          label Name
          input(type="text", placeholder="Bilbo Baggins", name="name")
          label Email
          input(type="email", placeholder="bilbo@bag.end", name="email")
          label Twitter
          input(type="text", placeholder="@killin_spiders", name="twitter")
          label Message
          textarea(placeholder="Never laugh at live dragons.", name="message")
          input(type="hidden", name="email2")
          button.button(type="submit") Send

      h3 Or contribute on GitHub
      p Submit an 
        a(href="https://github.com/meltmedia/whyaz/issues") issue 
        | or a pull request. Please see the 
        a(href="https://github.com/meltmedia/whyaz/#contributing") contribution guidelines
        | .

      h3 Contributors
      ul.contributors-list.clearfix
        li.contributor
          a(href="https://twitter.com/andyfrey")
            img.avatar(src="https://pbs.twimg.com/profile_images/1363598990/Team_Exit_400x400.jpg")

  script(src="/lib/jquery/dist/jquery.js")
  script(src="/lib/codebird-js/codebird.js")
  script(src="/lib/doT/doT.min.js")
  script(src="/lib/moment/moment.js")
  script(src="/lib/social-feed/js/jquery.socialfeed.js")
  script(src="/public/js/site.js")
