<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WhyAZ - Contribute to WhyAZ</title>
    <meta name="description" content="How to contribute ideas and content to why.az">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <meta property="og:site_name" content="WhyAZ">
    <meta property="og:url" content="http://why.az">
    <meta property="og:description" content="WhyAZ is community-built and explores the things that make Arizona an awesome place to live and work. Join us and share what you love with #whyaz.">
    <meta property="og:image" content="http://why.az/images/facebook-whyaz.png">
    <meta property="og:app_id" content="213627328831811">
    <meta property="og:type" content="website">
    <script src="//use.typekit.net/ivx3zwe.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <nav class="site-nav">
      <div class="container clearfix"><a href="/" class="nav-link logo">WhyAZ</a><a href="/contribute" class="nav-link">Contribute</a><a href="/community" class="nav-link">Community</a>
        <div class="flag">
          <div class="flag-stripes--left"></div>
          <div class="flag-stripes--right"></div>
          <div class="flag-star"></div>
        </div>
      </div>
    </nav>
    <div class="ribbon"><a href="https://github.com/meltmedia/whyaz" class="fork-me">Fork me on GitHub</a></div>
    <section class="siteSection secondary-page">
      <div class="siteContent">
        <h2>Contribute</h2>
        <p>We’re sure there’s awesome stuff we’ve missed (or haven’t even heard of yet). Contribute and help us make WhyAZ even better.</p>
        <h3>Submit an idea</h3>
        <form>
          <div class="alert error hidden">Whoops! An email or Twitter handle is required.</div>
          <div class="alert success hidden">We received your message. Thank you! Submit another?</div>
          <fieldset>
            <label>Name</label>
            <input type="text" placeholder="Sam Alexander" name="name">
            <label>Email</label>
            <input type="email" placeholder="sam@why.az" name="email">
            <label>Twitter</label>
            <input type="text" placeholder="@nova_prime_az" name="twitter">
            <label>Message</label>
            <textarea placeholder="You won't believe this..." name="message"></textarea>
            <input type="hidden" name="email2">
            <button type="submit" class="button">Send</button>
          </fieldset>
        </form>
        <h3>Or contribute on GitHub</h3>
        <p>Submit an <a href="https://github.com/meltmedia/whyaz/issues">issue </a>or a pull request. Please see the <a href="https://github.com/meltmedia/whyaz/#contributing">contribution guidelines</a>.</p>
        <h3>Contributors</h3>
        <ul class="contributors-list clearfix">
          <li class="contributor"><a href="https://twitter.com/andyfrey"><img src="https://pbs.twimg.com/profile_images/1363598990/Team_Exit_400x400.jpg" class="avatar"></a></li>
        </ul>
      </div>
    </section>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/public/js/site.js"></script><script type="text/javascript">
  var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
  analytics.load("52loy168ln");
</script>
  </body>
</html>