extends ../templates/layout

block vars
  - var title = "CSS Flags Demo"
  - var description = "Arizona state flags drawn with CSS."
  - var bodyClass = "flags"

block content

  section.flag-demo

    // Flag with 4 HTML elements
    .icon.flag
      .flag-stripes--left
      .flag-stripes--right
      .flag-star

    // Flag with 3 HTML elements
    .icon.flag-three
      .flag-stripes--left
      .flag-stripes--right

    // Flag with 1 HTMl element
    .icon.flag-one
