block vars
  - var title = "Flags in CSS Demo"
  - var description = "AZ state flags drawn with CSS"

extends ../templates/layout

block content

  section.flag-demo

    // Flag with 4 HTML elements
    .flag
      .flag-stripes--left
      .flag-stripes--right
      .flag-star

    // Flag with 3 HTML elements
    .flag-three
      .flag-stripes--left
      .flag-stripes--right

    // Flag with 1 HTMl element
    .flag-one
