//- FLAG ----------------------------------------------- //

//- Flag stripe mixin
$flag-stripe =
  {$pseudo}
  border-bottom: 17px solid transparent
  border-top: 17px solid transparent
  border-left: 170px solid $yellow

//- Arizona state flag
.flag
  $draw(300px,200px)
  $gradient-bottom(51%,$red,$navy-blue)
  margin: 0 auto
  position: relative
  overflow: hidden
  box-shadow: $shadow-tall

  &:before
    {$pseudo}
    $draw(300px,100px)
    $place(0,100px)

  //- Stripes on the left
  .flag-stripes--left
    {$flag-stripe}
    left: -10px
    top: 60px
    $rotate(18deg)

    &:before, &:after
      {$flag-stripe}
    &:before
      right: -12px
      bottom: 19px
      $rotate(28deg)
    &:after
      right: -35px
      bottom: 47px
      $rotate(54deg)

  //- Stripes on the right
  .flag-stripes--right
    {$flag-stripe}
    right: -10px
    top: 60px
    $rotate(162deg)

    &:before, &:after
      {$flag-stripe}
    &:before
      right: -12px
      bottom: -53px
      $rotate(-28deg)
    &:after
      right: -35px
      bottom: -79px
      $rotate(-54deg)

  //- Star
  .flag-star
    {$pseudo}
    $place(-30px,90px)
    $triangle(30px)
    left: 50%
    border-bottom: 22px solid $gold
    z-index: 2
    $rotate(36deg)

    &:before
      {$pseudo}
      $triangle(7px)
      left: -18px
      top: -16px
      border-bottom: 22px solid $gold
      $rotate(-35deg)
    &:after
      {$pseudo}
      $triangle(30px)
      left: -30px
      border-bottom: 22px solid $gold
      $rotate(-72deg)