//- RIBBON STYLES ----------------------------------------------- //

.ribbon
  width: 150px
  height: 150px
  display: block
  position: absolute
  top: 40px
  right: 0
  z-index: 1
  overflow: hidden

  .fork-me
    width: 100%
    display: block
    position: absolute
    background: $gold
    font-family: $font-family-brandon
    font-weight: $font-weight-bold
    text-transform: uppercase
    text-align: left
    letter-spacing: 1px
    color: $white
    $rotate(45deg)

    &:hover
      background: $gold-drk
      border: none

    @media $screen-small
      padding: 5px 30px
      top: 50px
      right: -60px
      font-size: 11px

    @media $screen-medium
      padding: 10px 50px
      top: 50px
      right: -70px
      font-size: 12px

