/*--------------------------------------------------------------------
*
* why.az
*
* Designed and maintained by @lynnandtonic
* ❤︎ 
*
* The WhyAZ homepage illustrations use no graphics, only CSS.
* Except for the AZ state flag, all icons are a single div.
* Why? Why the heck not?
*
--------------------------------------------------------------------*/

//- Global
@import 'global/_reset'
@import 'global/_colors'
@import 'global/_variables'
@import 'global/_mixins'
@import 'global/_helpers'

//- Components
@import 'components/base'
@import 'components/grid'
@import 'components/nav'
@import 'components/why-items'
@import 'components/content'
@import 'components/icons'
@import 'components/buttons'
@import 'components/forms'
@import 'components/footer'

//- Icons
@import 'icons/flag'

@import 'sections/community'
@import 'sections/contribute'
@import 'sections/flag-demo'
@import 'sections/fourohfour'
@import 'sections/weather'
