<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <nav class="site-nav">
      <div class="container clearfix">
        <a href="/" class="nav-link logo">WhyAz</a>
        {% for page in site.pages %}
          {% if page.title and page.title != "Reasons to love Arizona" %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="nav-link">{{ page.short_name }}</a>
          {% endif %}
        {% endfor %}
        <div class="flag">
          <div class="flag-stripes--left"></div>
          <div class="flag-stripes--right"></div>
          <div class="flag-star"></div>
        </div>
      </div>
    </nav>
    <div class="ribbon">
      <a href="https://github.com/meltmedia/whyaz" class="fork-me">Fork me on GitHub</a>
    </div>
    {{ content }}
    {% include ga.html %}
  </body>
</html>

