//- BUSINESS SECTION ----------------------------------------------- //

.biz
  background: $grey-4

  //- Marker body
  &:before
    $draw(80px,80px)
    $place(-40px,-70px)
    $gradient-var(45deg,45deg,50%,$red-light,$red)
    border-radius: 50px 50px 0 50px
    box-shadow: 6px 0 $shadow
    $rotate(45deg)

  //Marker inner circle
  &:after
    $draw(30px,30px)
    $place(-15px,-50px)
    background: $blue-grey
    border-radius: 50%
    box-shadow: inset $shadow-short

.headquarters

  //- Building
  &:before
    $draw(100px,135px)
    $place(-50px,0)
    background: $grey-d
    box-shadow: $shadow-tall

  //- Half color
  &:after
    $draw(50px,135px)
    $place(0,0)
    background: $shadow

  //- Windows and door
  .icon-img
    $draw(20px,20px)
    $place(-40px,10px)
    background: $blue-grey-drk
    box-shadow: 30px 0    $blue-grey-drk,
                60px 0    $blue-grey-drk,
                 0   30px $blue-grey-drk,
                30px 30px $blue-grey-drk,
                60px 30px $blue-grey-drk,
                 0   60px $blue-grey-drk,
                30px 60px $blue-grey-drk,
                60px 60px $blue-grey-drk,
                30px 100px 0 5px $grey-a

    //- Flag pole
    &:before
      $draw(2px,30px)
      $place(40px,-40px)
      background: $white
      box-shadow: 2px 0 $shadow

    //- Flag
    &:after
      $draw(20px,15px)
      $place(42px,-40px)
      background: $red
      box-shadow: 2px 2px $shadow