//- TECH SECTION ----------------------------------------------- //

.tech
  background: $red

  //- Egg
  &:before
    $draw(60px,80px)
    $place(-30px,-55px)
    background: $white
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%
    box-shadow: $shadow-short
 

//- Light bulb
.bulb

  //- Bublb
  &:before
    $draw(100px,100px)
    $place(-50px,0)
    $halfsies($yellow-light,$yellow)
    border-radius: 50%
    box-shadow: 0 0 15px $yellow,
                $shadow-tall

  //- Screw threads
  &:after
    $draw(40px,4px)
    $place(-20px,107px)
    background: $shadow
    box-shadow: 0 10px $shadow,
                0 20px $shadow

  //- Screw shadow
  .icon-img
    $draw(40px,40px)
    $place(-12px,106px)
    background: $shadow

    //- Bulb foot
    &:before
      $draw(30px,10px)
      $place(-23px,32px)
      background: $grey-a
      border-radius: 0 0 30px 30px
      box-shadow: $shadow-tall

    //- Screw
    &:after
      $draw(40px,40px)
      $place(-28px,-8px)
      $halfsies($grey-d,$grey-c)

//- Venn diagram
.venn

  //- Left circle
  &:before
    $draw(80px,80px)
    $place(-70px,50px)
    background: $yellow-green
    border-radius: 50%
    opacity: .5

    //- Right circle
  &:after
    $draw(80px,80px)
    $place(-10px,50px)
    background: $yellow
    border-radius: 50%
    opacity: .5

  //- Top circle
  .icon-img
    $draw(80px,80px)
    $place(-40px,0)
    background: $orange
    border-radius: 50%
    opacity: .5