block vars
  - var title = "WhyAZ Community"
  - var description = "See what people are sharing about Arizona."

extends ../../templates/layout

block content

  section.siteSection.secondary-page
    .siteContent
      h2 Arizona Love
      p See the reasons others love Arizona.
        br
        | Share yours with 
        a(href="https://twitter.com/search?q=%23whyaz&amp;src=typd") #whyaz
        | .

  section#tagboard-embed

  script var tagboardOptions = {tagboard:"whyaz/194612", darkMode: true};
  script(src="https://tagboard.com/public/js/embed.js")