block vars
  - var title = "Reasons to love Arizona"
  - var description = "Why it's awesome to live and work in Arizona."

extends ../../templates/layout

block content

  div(class="social-feed-container")

  link(href="/lib/social-feed/css/jquery.socialfeed.css", rel="stylesheet", type="text/css")
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

  script(src="/lib/jquery/dist/jquery.js")
  script(src="/lib/codebird-js/codebird.js")
  script(src="/lib/doT/doT.min.js")
  script(src="/lib/moment/moment.js")
  script(src="/lib/social-feed/js/jquery.socialfeed.js")

  script(src="/public/js/site.js")