<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WhyAZ - WhyAZ Community</title>
    <meta name="description" content="See what people are sharing about Arizona.">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <meta property="og:site_name" content="WhyAZ">
    <meta property="og:url" content="http://why.az">
    <meta property="og:description" content="WhyAZ is community-built and explores the things that make Arizona an awesome place to live and work. Join us and share what you love with #whyaz.">
    <meta property="og:image" content="http://why.az/images/facebook-whyaz.png">
    <meta property="og:app_id" content="213627328831811">
    <meta property="og:type" content="website">
    <script src="//use.typekit.net/ivx3zwe.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <nav class="site-nav">
      <div class="container clearfix"><a href="/" class="nav-link logo">WhyAZ</a><a href="/contribute" class="nav-link">Contribute</a><a href="/community" class="nav-link">Community</a>
        <div class="flag">
          <div class="flag-stripes--left"></div>
          <div class="flag-stripes--right"></div>
          <div class="flag-star"></div>
        </div>
      </div>
    </nav>
    <div class="ribbon"><a href="https://github.com/meltmedia/whyaz" class="fork-me">Fork me on GitHub</a></div>
    <section class="siteSection secondary-page">
      <div class="siteContent">
        <h2>Arizona Love</h2>
        <p>See the reasons others love Arizona.<br>Share yours with <a href="https://twitter.com/search?q=%23whyaz&amp;amp;src=typd">#whyaz</a>.</p>
      </div>
    </section>
    <section id="tagboard-embed"></section>
    <script>var tagboardOptions = {tagboard:"whyaz/194612", darkMode: true};</script>
    <script src="https://tagboard.com/public/js/embed.js"></script><script type="text/javascript">
  var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
  analytics.load("52loy168ln");
</script>
  </body>
</html>