/*--------------------------------------------------------------------
*
* why.az
*
* Designed and coded by @lynnandtonic
* Maintained by @meltmedia, @lynnandtonic
* ❤︎ 
*
* This website uses no graphics, only CSS.
* Extra markup is kept to a strict minimum.
* Why did we do it? Why the hell not?
*
--------------------------------------------------------------------*/

//- Global
@import 'global/_colors'
@import 'global/_variables'
@import 'global/_mixins'

//- Components
@import 'components/base'
@import 'components/sections'
@import 'components/columns'
@import 'components/nav'
@import 'components/icons'
@import 'components/flag'
@import 'components/flag-demo'

//- Sections
@import 'sections/intro'
@import 'sections/desert'
@import 'sections/weather'
@import 'sections/living'
@import 'sections/food'
@import 'sections/films'
@import 'sections/business'
@import 'sections/natural-wonders'
@import 'sections/education'
@import 'sections/inspire'
@import 'sections/science'
@import 'sections/sports'
@import 'sections/history'
@import 'sections/tech'
@import 'sections/alumni'
@import 'sections/perks'
@import 'sections/whyaz'