//- VARIABLES ----------------------------------------------- //

//- Font Families
$font-family-tisa = "ff-tisa-web-pro", Georgia, Times, serif
$font-family-brandon = "brandon-grotesque", Helvetica, Arial, sans-serif

//- Font Weights
$font-weight-normal = 400
$font-weight-bold = 900

//- Media Queries
$screen-small = '(max-width: 459px)'
$screen-medium = '(min-width: 460px)'
$screen-large = '(min-width: 679px)'

//- Drop Shadows
$shadow = rgba(0,0,0,.13)
$shadow-tall =  8px 8px $shadow
$shadow-short = 4px 4px $shadow